.App {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
}

.App-header {
  background-color: #adceed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  image-rendering: pixelated;
  display: flex;
  color: #1c314f;
  font-size: 30px;
}

.Portrait {
  scale: 200%;
}
