@font-face {
  font-family: pixel;
  src: url("../public/pixel.ttf");
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  font-family: pixel;
  font-weight: bold;
  background-color: #282d3c;
  color: #9badb7;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  color: #9badb7;
}

a {
  padding: 15px;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #9badb7;
}

/* visited link */
a:visited {
  color: #9badb7;
}

/* mouse over link */
a:hover {
  color: #ffc4b8;
}

/* selected link */
a:active {
  color: #9badb7;
}
